@page "/monday"
@using MyToDoAppMudBlazor.Shared

@inject IDialogService DialogService


<h3>Monday</h3>
<br/>

<MudGrid>
    <MudItem xs="11">
        <MudFab @onclick="OpenDialog" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add"/>
        <br/>
    </MudItem>
    <MudItem xs="1">
        <MudFab class="" Size="Size.Large" @onclick="DeleteAllToDos"
                Color="Color.Error" StartIcon="@Icons.Material.Filled.Remove"/>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            @foreach (var toDo in ToDos)
            {
                <MudItem xs="6" sm="3">
                    <br/>
                    <MudPaper Height="150px" Width="200px" Elevation="3" Class="p-4"
                              Style="@($"color:{Theme.Palette.Dark}; background:{Theme.Palette.Warning};")">
                        <MudGrid>
                            <MudItem xs="12">
                                <MudCheckBox @bind-Checked="@toDo.IsDone" T="bool" Color="Color.Primary">
                                    ToDo: @toDo.Title
                                    <br/>
                                    Comment: @toDo.Comment
                                </MudCheckBox>
                            </MudItem>
                            <MudItem xs="3"/>
                            <MudItem xs="3"/>
                            <MudItem xs="3">
                                <MudFab class="" Size="Size.Small" @onclick="args => DeleteToDo(args, toDo.Id)"
                                        Color="Color.Error" StartIcon="@Icons.Material.Filled.Remove"/>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                    <br/>
                </MudItem>
            }
        </MudGrid>
    </MudItem>
</MudGrid>


@code {

    private readonly MudTheme Theme = new();

    MudDialogInstance MudDialog;
    readonly ToDos TempToDos = new();
    public List<ToDos>? ToDos;
    private DialogResult? result;

    protected override void OnInitialized()
    {
        using (var context = new MyDbContext())
        {
            context.Database.EnsureCreated();
            ToDos = context.ToDos.Select(x => x).ToList();
        }
    }

    private async Task OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true };
        var dialog = DialogService.Show<AddNewToDoDialog>("Add new To Do", options);
        result = await dialog.Result;
        if (result.Data.Equals(true))
        {
            dialog.Close();
            Refresh();
        }
    }

    private void DeleteToDo(MouseEventArgs e, int toDoId)
    {
        using (var context = new MyDbContext())
        {
            var deleteToDo = context.ToDos.Where(x => x.Id == toDoId).First();
            context.Remove(deleteToDo);
            context.SaveChanges();
            Refresh();
        }
    }

    private void DeleteAllToDos()
    {
        using (var context = new MyDbContext())
        {
            var allToDos = context.ToDos.Select(x => x).ToList();
            foreach (var todo in allToDos)
            {
                context.ToDos.Remove(todo);
            }
            context.SaveChanges();
            Refresh();
        }
    }

    private void Refresh()
    {
        using (var context = new MyDbContext())
        {
            ToDos = context.ToDos.Select(x => x).ToList();
        }
    }

}